jupyterlab
ipywidgets
tqdm
fire
seaborn
palettable
wandb
numpy
scipy
pandas
scikit-learn
opencv-python
tensorflow<2.12
tensorflow-datasets
torch<1.14
torchvision
timm
transformers
sentencepiece
datasets
accelerate
evaluate
peft
bitsandbytes